{% extends "base_generic.html" %}

{% block content %}
  <h3>ФИО: {{ tutor.first_name }} {{ tutor.last_name }}</h3>

  <p><strong>Фамилия:</strong> <a href="">{{ tutor.last_name }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Имя:</strong> {{ tutor.first_name }}</p>
  <p><strong>Информация:</strong> {{ tutor.description }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Учебные курсы преподавателя</h4>

    {% for learnbook in tutor.learnbook_set.all %}
    <hr>
    <p class="text-muted"><strong>Учебный курс:</strong> {{learnbook.title}}</p>
    {% endfor %}
  </div>
{% endblock %}