{% extends "base_generic.html" %}
{% block content %}
    <h2>Учебная литература</h2>
    <p>Курсы по разным предметам!</p>
    <p>Количественные показатели учебного ресурса:</p>
    <ul>
        <li><strong>Учебных курсов:</strong> {{ num_learnbooks }}</li>
        <li><strong>Преподавателей (авторов) курсов:</strong> {{ num_tutors }}</li>
        <li><strong>Категорий курсов:</strong> {{ num_categories }}</li>
    </ul>
{#        <p>Вы посетили страницу {{ num_visits }}{% if num_visits == 1 %} time{% else %} раз(а){% endif %}.</p>#}
{% endblock %}